footer {
    background-color: #EAF2FD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 64px 9.5rem;
    gap: 115px;
    height: 268px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

footer .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-between;
    width: 100%;
    height: 252px;

}


footer .logo {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 5px;
}

footer .logo img {
    width: 50px;
}

footer .logo h2 {
    margin: 0;
    font-size: 30px;
}

footer .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 24px;
    height: 100%;
}


footer .links-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    height: 100%;
}

footer .links-list a {
    color: var(--dark-color);
}

footer .contact {
    margin: 0;
    width: 560px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    justify-content: flex-start;
}

footer .contact h3 {
    margin: 0;
    font-size: 22px;
}

footer .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

footer .form input {
    height: 36px;
    outline: none;
    border: none;
    padding-left: 10px;
}

footer .form textarea {
    height: 86px;
    resize: none;
    outline: none;
    border: none;
    padding: 10px;
}

footer .form button {
    height: 51px;
    width: 165px;
    background: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
    resize: none;
    outline: none;
    border: none;
    padding: 10px;
}

.footer h6 {
    text-align: center;
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}